html, body {
    margin: 0;
    height: 100%;

    background-color: #98ccd3;
}

a{
  text-decoration: none;
  color: #132238;
  font-size: 25px;
  text-align: justify;
}

#rssFeed{
  resize: both;
  z-index: 9;
  height: 500px;
  width: 500px;
  overflow: auto;
  padding: 10px;
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  background-color: #ebf0f6;

  left:37%;
  top:20%;

}

#rssFeedheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
  color: #132238;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-bottom: 2.5px solid #132238;
}

#datWeatherFam{
  height: 100px;
  width: 150px;
  position:absolute;
  top:0;
  right:0;
  margin-top: 10px;
  margin-right: 20px;
}

/*FOR DAT GOOD GOOD SCROLL BAR BOI*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*YA YEET*/

.feed-item-title{
  font-family: 'Raleway', sans-serif;
}

p.feed-item-desc{
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  border-bottom: 1px dotted #132238;
  padding-bottom: 25px;
}

.control{
  width:500px;
  height: 500px;
  background-color: white;
  position: fixed;
  bottom: -350px;
  left: 37.5%;
  background-color: #132238;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  border-radius: 75%;
  z-index: 10;
  border: 4px solid #ebf0f6;
}
.control:hover{
  z-index: 10;
}
